extends layout

block content
  h1 Geoffry (chat-vantiv)
  p.lead A js library that creates a chat window in a webpage and can answer simple questions.
  hr
  .row
    .col-sm-12
      h2 Geoffry
            input#name.form-control(type='text', placeholder='Ask Geoffry something about the hackathon' name='name')
      p
        a.btn.btn-default(href='#', role='button') Send